$lg-res-width: 960px;
$sm-res-width: 600px;
$xs-res-width: 480px;


.contact-container {
  padding: .1em 1em;
  background-color: #fff;

  // Contact Position
  h4 {
    color: #313131;
    font-weight: 700;
    font-size: 24px;
    padding: .5em;
    margin: 0;
    max-width: fit-content;
    background-color: #f5f5f5;
    border-radius: .8em;

    @media screen and (max-width: $sm-res-width) {
      max-width: none;
      width: 100%;
    }
  }

  @media screen and (max-width: $sm-res-width) {
    text-align: center;
  }

  // Contact Email / Address
  .name-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    @media screen and (max-width: $sm-res-width) {
      flex-direction: column;
      // padding-left: .5em;
    }

    // Contact Name
    h5 {
      color: #535353;
      font-size: 24px;
      font-weight: 600;
      margin: .5em;

      @media screen and (max-width: $sm-res-width) {
        margin: .75em 0;
      }
    }
    // Email and Email Icon
    a {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin: .25em;

      @media screen and (max-width: $sm-res-width) {
        margin-bottom: .5em;
      }

      img {
        @media screen and (max-width: $sm-res-width) {
          display: none
        }
      }
    }
  }
}

