$main-color: #c6d2da;
$main-text-color: #313131;
$text-red: #f84242;
$lg-res-width: 960px;
$sm-res-width: 600px;
$xs-res-width: 480px;

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  min-height: 6em;

  img {
    margin: 1em;
    @media screen and (max-width: $sm-res-width) {
      display: none;
    }
  }

  #original-link {
    font-weight: 600;
    font-size: .8em;
    letter-spacing: .04em;
    color: #535353;
    margin: .75em auto;
    padding: .5em;
    text-decoration: none;
    line-height: 2em;
    background-color: #acd6f1;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 6px #324a5d1c, 0 1px 3px #00000014;

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: $text-red;
      transform: translateY(-2px);
      box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
    &:focus {
      outline: 0
    }
  }
}
