$main-color: #c6d2da;
$main-text-color: #313131;
$section-border-style: .5em solid $main-color;
$lg-res-width: 960px;
$sm-res-width: 600px;
$xs-res-width: 480px;

main {
  letter-spacing: .03em;

  hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  }
  hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }

  img {
    display: block;
    margin: 3.5em auto;
    // margin-bottom: 2em;
  }

  section {
    border-radius: .5em;
    margin-bottom: 2em;
    color: $main-text-color;

    .section-head {
      display: flex;
      margin: 0 auto;
      font-style: italic;
      text-decoration: underline;

      h2 {
        padding: 1em .2em;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        font-size: 2em;
      }
    }
  }
}
