$main-color: #c6d2da;
$lg-res-width: 960px;
$sm-res-width: 600px;
$xs-res-width: 480px;

main {
  section {
    border: 3px solid $main-color;

    h3 {
      background-color: $main-color;
      padding: 1em .2em;
    }
  }
}
