$main-text-color: #313131;
$text-red: #f84242;
$lg-res-width: 960px;
$sm-res-width: 600px;
$xs-res-width: 480px;

.reunion-content {
  img {
    margin: 1em auto;
    padding: 0;
    border-radius: 4px;
  }
  .location {
    padding: 1em 0;

    @media screen and (max-width: $sm-res-width) {
      text-align: center;
    }

    h3 {
      font-size: 2em;
    }
    a {
      font-style: normal;
    }
  }

  hr {
    margin: 3em 0;
  }

  .img-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: $lg-res-width) {
      flex-direction: column;
    }

    img {
      max-width: 300px;
    }
  }

  .recap {
    margin-top: 1em;
    letter-spacing: .06em;
    line-height: 1.6em;
    font-size: 1.2em;

    p {
      @media screen and (max-width: $sm-res-width) {
        max-width: 98%;
      }
    }

    h4 {
      font-size: 1.3em;
    }

    iframe {
      display: block;
      margin: 0 auto;
      width: 560px;
      height: 315px;
    }

    ul {
      // margin: .2em 1.5em;

      li {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding-bottom: .5em;
      }
      li::before {
        content: "\0398\03A7";
        font-size: .5em;
        color: #fff;
        border-radius: 10%;
        background-color: $text-red;
        padding: 0 1em;
        margin-right: 1em;
      }
    }
  }

  .addt-photos {
    text-align: center;

    >div {
      display: inline-block;
      width: 100%;
       a {
         display: block;
         width: 60%;
         margin: .35em auto;
       }
    }

    a {
      @media screen and (max-width: $sm-res-width) {
        display: block;
        width: 80%;
        margin: .35em auto;
      }
      text-decoration: none;
      margin: .35em;
      padding: .4em;
      width: 5em;
      line-height: 2em;
      background-color: #acd6f1;
      color: $main-text-color;
      border: none;
      border-radius: 4px;
      font-size: 1.2em;
      letter-spacing: .04em;
      box-shadow: 0 4px 6px #324a5d1c, 0 1px 3px #00000014;

      &:hover {
        cursor: pointer;
        background-color: #fff;
        color: $text-red;
        transform: translateY(-2px);
        box-shadow: 0 2px 3px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      }
      &:focus {
        outline: 0
      }
    }
  }
}

